@media only screen and (max-width: 750px)  {
    #update-button {
        text-align: center !important;
    }

    #basic-info-heading {
        margin-top: 4%;
    }
}

#basic-info-heading {
    color: #3F4D67;
}