.error-container {
    background: rgba(255, 0, 0, 0.2);
    color: black;
    border-radius: 2%;
    padding: 3%;
}

.error-container p {
    color: black;
}

.error-div {
    color: red;
    background-color: white;
}