<div class="auth-wrapper">
  <ngx-spinner 
      [name]="'spinner1'" 
      [fullScreen]="true" 
      type="ball-clip-rotate-multiple" 
      size="medium"
  >
  </ngx-spinner>
  <div class="auth-content">
    <!-- <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div> -->
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <!-- <i class="feather icon-unlock auth-icon"></i> -->
          <img id="logo-image" class="img-fluid img-rounded" [src]="'assets/images/buds-logo.png'" height="70" width="70" />
        </div>
        <h3 class="mb-4">Reset Password</h3>
        <form [formGroup]="updatePasswordForm" (ngSubmit)="onResetPasswordSubmit(updatePasswordForm)" #myform="ngForm" method="POST">
          <div class="input-group mb-2">
            <input type="password" class="form-control" placeholder="Password" formControlName="password" required>
          </div>
          <div class="input-group mb-3 error-div">
            <small *ngIf="updatePasswordForm.get('password').hasError('required') && myform.submitted">Password Required</small>
            <small *ngIf="!updatePasswordForm.get('password').hasError('required') && updatePasswordForm.get('password').status === 'INVALID' && myform.submitted">Enter a valid password address</small>
          </div>


          <div class="input-group mb-2">
            <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirm_password" required>
          </div>
          <div class="input-group mb-3 error-div">
            <small *ngIf="updatePasswordForm.get('confirm_password').hasError('required') && myform.submitted">Confirm Password Required</small>
            <small *ngIf="!updatePasswordForm.get('confirm_password').hasError('required') && updatePasswordForm.get('confirm_password').status === 'INVALID' && myform.submitted">Enter a valid confirm_password address</small>
          </div>

         
          <button class="btn btn-primary mb-4">Submit</button>
        </form>
        
        <p class="mb-2 text-muted">Do you already have account? <a [routerLink]="['/auth/signin']">Sign in</a></p>
        <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/auth/signup']">Sign up</a></p>
      
      </div>
    </div>
  </div>
</div>
