.error-div {
    color:red;
    background-color: white;
}

#image-wrapper input {
    display: inline !important;
    max-width: auto;
}

#image-wrapper {
    text-align: center !important;
    margin: auto;
}

#profile-image {
    max-width: 250px !important;
    max-height: 250px !important;
}

#basic-info-heading {
    color: #3F4D67;
}
