.error-div {
    color: red;
}

#basic-info-heading {
    color: #3F4D67;
}
#image-wrapper input {
    display: inline !important;
    max-width: auto;
}

#image-wrapper {
    text-align: center !important;
    margin: auto;
}

#profile-image {
    max-width: 250px !important;
    max-height: 250px !important;
}